:root {
  --color-dark-purple: hsl(222, 20%, 10%);
  --color-white-hsl: 0, 0%, 100%;
  --color-green-800-hsl: 120, 100%, 34%;
  --color-red-800-hsl: 0, 100%, 34%;
  --color-bg: var(--color-dark-purple);
  --color-fg: hsl(var(--color-white-hsl));
}
.game {
  color: var(--color-fg);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.game-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.question {
  font-size: 2rem;
  text-align: center;
}
.answer {
  font-size: 1.6rem;
  height: 40px;
  text-align: center;
  width: 100px;
}
.round {
  --size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.2rem;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
}
.unanswered {
  background-color: hsl(var(--color-green-800-hsl));
  color: hsl(var(--color-white-hsl));

  &:disabled {
    color: hsla(var(--color-white-hsl), 0.3);
    background-color: hsla(var(--color-green-800-hsl), 0.4);
  }
}
.correct {
  background-color: hsl(var(--color-green-800-hsl));
  color: hsl(var(--color-white-hsl));
}
.incorrect {
  color: hsl(var(--color-white-hsl));
  background-color: hsl(var(--color-red-800-hsl));
}
.refresh {
  --size: 40px;
  border: none;
  background-color: transparent;
  color: hsl(var(--color-white-hsl));
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
}
.play {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: hsl(var(--color-green-800-hsl));
  border: none;
  border-radius: 8px;
  color: hsl(var(--color-white-hsl));
  width: 128px;
  height: 74px;
}
.status {
  height: 20px;
}
.status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 40px;
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40px);
}
